* {
    margin: 0px;
    padding: 0px;
}

/* @media only screen and (max-width: 576px){ */

body {
    width: 100%;
}

header {
    position: relative;
}

#heading-picture {
    width: 100%;
}

.header-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3em;
}

.table {
    display: table;
    width: 100%;
    height: 100%;
}

.cell {
    display: table-cell;
    vertical-align: middle;
}

button {
    width: 30%;
    height: 2em;
    background-color: rgb(45, 113, 238);
    border-radius: 10px;
    color: white;
    border: 0px;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px auto 15px auto;
}

h1 span {
    color: orange;
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    padding-left: 5px;
}

#nav-list {
    width: 95%;
    background-color: rgb(96, 167, 233);
    text-align: center;
    color: white;
    margin: 20px auto;
    padding: 10px;
    list-style-type: none;
    box-sizing: border-box;
}

#nav-list li {
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px;
    font-weight: bold;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

h2 span {
    border-bottom: 2px solid black;
}

#who-we-are {
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    text-align: left;
    margin: 10px auto;
}

#welcome-link {
    margin: 20px;
    color: rgb(96, 167, 233);
}

#welcome-link:link {
    color: rgb(96, 167, 233);
    text-decoration: none;
}

#who-we-are p {
    margin: 20px;
}

#main-list {
    margin: 20px;
    list-style-position: inside;
    list-style-image: url('images.jpg');
}

#about-image {
    display: block;
    width: 95%;
    margin: 20px auto;
}

#will   {
    width: 80%;
    background-color: rgb(96, 167, 233);
    padding: 10px;
    box-sizing: border-box;
    margin: 20px auto;
}

#will img {
    width: 15%;
    border-radius: 50%;
    border: 2px solid white;
    padding: 5px;
    margin: 10px;
    float: left;
    margin-top: 30px;
}

#will h3 {
    color: black;
    float: left;
    padding-top: 60px;
    padding-left: 20px;
}

#will p {
    clear: both;
    margin: 10px;
    color: white;
    margin-bottom: 20px;
}

#will::after {
    clear: both;
    content: "";
    display: block;
}

#jenifer   {
    width: 80%;
    background-color: rgb(96, 167, 233);
    padding: 10px;
    box-sizing: border-box;
    margin: 20px auto;
}

#jenifer img {
    width: 15%;
    border-radius: 50%;
    border: 2px solid white;
    padding: 5px;
    margin: 10px;
    float: left;
    margin-top: 30px;
}

#jenifer h3 {
    color: black;
    float: left;
    padding-top: 60px;
    padding-left: 20px;
}

#jenifer p {
    clear: both;
    margin: 10px;
    color: white;
    margin-bottom: 20px;
}

#jenifer::after {
    clear: both;
    content: "";
    display: block;
}

#selena   {
    width: 80%;
    background-color: rgb(96, 167, 233);
    padding: 10px;
    box-sizing: border-box;
    margin: 20px auto;
}

#selena img {
    width: 15%;
    border-radius: 50%;
    border: 2px solid white;
    padding: 5px;
    margin: 10px;
    float: left;
    margin-top: 30px;
}

#selena h3 {
    color: black;
    float: left;
    padding-top: 60px;
    padding-left: 20px;
}

#selena p {
    clear: both;
    margin: 10px;
    color: white;
    margin-bottom: 20px;
}

#selena:after {
    clear: both;
    content: "";
    display: block;
}

#contact {
    background-color: rgb(46, 248, 171);
    width: 100%;
    text-align: center;
    height: 150px;
    color: white;
    padding: 20px;
}

#contact h4 {
    font-size: 1.5em;
    padding: 10px;
}

#contact-phone, #contact-email {
    display: block;
    width: 50%;
    padding: 10px;
    text-align: left;
    position: relative;
    margin: 0px auto;
    font-size: 1.2em;
}

#contact-phone span {
    padding-left: 10px;
}

#contact-email a {
    padding-left: 10px;
}

#contact-email a:link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#phone-icon, #email-icon {
    width: 20px;
    height: 20px;
}

#connect {
    background-color: rgb(255, 81, 148);
    width: 100%;
    text-align: center;
    height: 100px;
    color: white;
    padding: 20px;
}

#connect h4 {
    font-size: 1.5em;
    padding: 10px;
}

#connect img {
    width: 30px;
    height: 30px;
    margin: 10px;
}

#connect a:link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#adress {
    background-color: rgb(3, 114, 199);
    width: 100%;
    text-align: center;
    height: 80px;
    color: white;
    padding: 20px;
}

#adress h4 {
    font-size: 1.5em;
    padding: 10px;
}

#adress img {
    width: 20px;
    height: 20px;
}

#house {
    position: relative;
    background-color: rgb(99, 181, 243);
    width: 100%;
    text-align: center;
    height: 150px;
    padding: 20px;
}

#house img {
    width: 150px;
}

iframe {
    width: 100%;
    margin: 0px auto;
}

#mail-us {
    margin-top: 0px;
    text-align: center;
}

#mail-us input {
    display: block;
    margin: 10px auto;
    width: 80%;
    line-height: 2em;
}

#mail-us textarea {
    width: 80%;
}

#mail-us button {
    background-color: orange;
    border-radius: 3px;
    margin: 20px;
    position: relative;
    right: 25%;
    margin-bottom: 50px;
}

footer {
    background-color: rgb(44, 44, 44);
    color: white;
    height: 150px;
    width: 100%;
    padding-right: 10px;
}

footer li {
    list-style-type: none;
    float: left;
    width: 15%;
    padding-top: 40px;
    padding-bottom: 30px;
}

footer p {
    padding-bottom: 30px;
    clear: both;
}



/* } */


